## CÁC THƯ VIỆN Pandas, Matplotlib, Starmodels,... ĐỀU DỰA VÀO NumPy

In [4]:
# type: ignore

In [1]:
import numpy as np

In [2]:
# Cách convert 1 NumpyArray từ một Python List
np.array([1,2,3,4])

array([1, 2, 3, 4])

In [ ]:
# Python cho phép 1 list có nhiều kiểu dữ liệu
[3.4,5,6,7]

[3.4, 5, 6, 7]

In [ ]:
# Nhưng NumPy thì không cho phép, np tự convert thành 1 kiểu dữ liệu
np.array([3.4, 5, 6, 7])

array([3.4, 5. , 6. , 7. ])

In [ ]:
# Ép kiểu dữ liệu trong nparray
# str : np.array([list], dtype = (""))
np.array([3.4, 5, 6, 7],dtype = ("float32"))

array([3.4, 5. , 6. , 7. ], dtype=float32)

In [ ]:
a = np.array([1,2,3,4])

In [ ]:
type(a)

numpy.ndarray

In [ ]:
a2 = np.array([[1,2,3],
               [4,5,6]])

In [ ]:
type(a2)

numpy.ndarray

In [ ]:
# NP có một thuộc tính để xem số chiều của mảng
a.ndim  #  1
a2.ndim  #  2
# Thuộc tính xem kiểu dữ liệu của các element bên trong
a2.dtype # dtype('int64')
# Thuộc tính count element trong array
a2.size # 6
# Thuộc tính trả về dòng, cột
a.shape # (2, 3)

(4,)

## Tạo NumPy Array từ Scratch
### zeros, ones, full, arange, linspace

In [ ]:
# zeros là hàm tạo 1 array, bao gồm hàng, cột được fill số O
# str : np.zeros(shape, dtype=float, order='C', *, like=None)
np.zeros((2, 3), dtype = int)

array([[0, 0, 0],
       [0, 0, 0]])

In [ ]:
# ones là hàm tạo 1 array, bao gồm hàng, cột được fill số 1
# GẦN TƯƠNG TỰ VỚI ZEROS
# str : np.ones(shape, dtype=None, order='C', *, device=None, like=None)
np.ones((2, 3), dtype = int)

array([[1, 1, 1],
       [1, 1, 1]])

In [ ]:
# full là hàm tạo 1 array, bao gồm hàng, cột được fill bởi số được nhập vào
# str : np.zeros(shape , fill_value,, order='C', *, like=None)
np.full((2,3), 3) # array([[3, 3, 3],
                        #[3, 3, 3]])
np.full((2,3), [1,2,3])

array([[1, 2, 3],
       [1, 2, 3]])

In [ ]:
# arange là hàm tạo 1 array,bao gồm số start, số stop - 1 , bước nhảy step ( default 1 )
# str : arange([start,] stop[, step,], dtype=None, *, device=None, like=None)
np.arange(1,10) #array([1, 2, 3, 4, 5, 6, 7, 8, 9])
np.arange(1,10, 2) # array([1, 3, 5, 7, 9])

array([1, 3, 5, 7, 9])

In [ ]:
# linspace là hàm tạo 1 array,bao gồm số start, số stop, num là số element muốn có (khoảng cách sẽ được chia đều trong khoảng start stop ) 
# str : np.linspace(start,stop,num=50,endpoint=True,retstep=False,dtype=None,axis=0,*,device=None,)
# note : endpoint = True ( tính luôn điểm cuối ) # False
# note : retstep=False ( không hiển thị step ) # True
np.linspace(2, 3, 5) # array([2.  , 2.25, 2.5 , 2.75, 3.  ])
np.linspace(2, 3, 5, endpoint=False) # array([2. , 2.2, 2.4, 2.6, 2.8])
np.linspace(2, 3, 5, retstep = True) # (array([2.  , 2.25, 2.5 , 2.75, 3.  ]), np.float64(0.25))

(array([2.  , 2.25, 2.5 , 2.75, 3.  ]), np.float64(0.25))

### Ôn tập

### Bài 1 – Tạo và ép kiểu dữ liệu
### Tạo một NumPy array từ danh sách [1, 2, 3, 4.5, 5.7].
### In ra kiểu dữ liệu của mảng (dtype).
### Ép kiểu mảng thành int32 và in ra kết quả.
### Ép kiểu mảng thành str và in ra kết quả.

In [ ]:
a1 = np.array([1, 2, 3, 4.5, 5.7])
a1.dtype

a2 = np.array([1, 2, 3, 4.5, 5.7], dtype ="int32")
print(a2)

a3 = np.array([1, 2, 3, 4.5, 5.7], dtype ="str")
print(a3)

[1 2 3 4 5]
['1' '2' '3' '4.5' '5.7']

### Bài 2 Kiểm tra kiểu dữ liệu và thuộc tính. In ra số chiều, kích thước (shape) và tổng số phần tử của arr. Ép kiểu arr thành int32. In ra mảng sau khi ép kiểu.

In [ ]:
a = np.array([[1,2,3],
        [4,5,6]], dtype = "float32")

a.shape
a.size


a1= np.array([[1,2,3],
        [4,5,6]], dtype = "int32")
print(a1)

[[1 2 3]
 [4 5 6]]

## Hàm RANDOM()

In [ ]:
# Sinh ra 1 array gồm n element hoặc arr gồm mxn element
np.random.random((3,2)) #array([[0.02738739, 0.59470183],
                       # [0.54468397, 0.32986624],
                       # [0.18253066, 0.85874309]])
np.random.random((5)) # array([0.18450086, 0.4648839 , 0.92501515, 0.12440241, 0.32435395])

# rand() tương tự random()

array([0.18450086, 0.4648839 , 0.92501515, 0.12440241, 0.32435395])

In [ ]:
# str : normal(loc=0.0, scale=1.0, size=None)
# note : khác với loc của Pandas, loc của NumPy là mean : giá trị trung bình
# scale : độ lệnh chuẩn
# size : kích thước mảng ( n || mxn )
np.random.normal(2, 2, (3,3))

array([[ 4.93313122,  4.11960229, -0.57514259],
       [ 3.51981643,  2.73497303,  4.02241195],
       [ 0.7506866 , -0.06274738,  0.92388889]])

In [ ]:
# str : randint(low, high=None, size=None, dtype=int)
np.random.randint(2, 10, (3,3))

array([[6, 9, 5],
       [8, 7, 6],
       [4, 9, 9]], dtype=int32)

## Array Indexing & Slicing : tiếp cận element trong arr

In [ ]:
# Truy cập element on Array
x = np.random.randint(10, size = (5,5), dtype = int)

In [ ]:
x

array([[8, 3, 3],
       [2, 0, 7],
       [2, 4, 2]], dtype=int32)

In [ ]:
x[0,2]

np.int32(3)

In [ ]:
# thay thế phần tử
x[0,2] = 0
x

array([[8, 3, 0],
       [2, 0, 7],
       [2, 4, 2]], dtype=int32)

### Slicing  : cắt khoảng trong array

In [ ]:
# str x[start : stop : step]
# kết quả trả về là mảng từ start đến stop-1 với step

In [ ]:
y = np.random.randint(10, size = 8)

In [ ]:
y

array([8, 2, 4, 7, 7, 4, 2, 3], dtype=int32)

In [ ]:
# Mảng 1 chiều
y[0:5:2]

array([8, 4, 7], dtype=int32)

In [ ]:
#Mảng 2 chiều
# x[row_slice, column_slice]
# chi tiet : x[start_row:end_row:step_row, start_col:end_col:step_col]

x

array([[6, 0, 4, 5, 8],
       [2, 5, 5, 3, 7],
       [3, 0, 5, 4, 6],
       [8, 4, 1, 9, 6],
       [2, 7, 8, 4, 2]], dtype=int32)

In [ ]:

x[3:, -1:]

array([[6],
       [2]], dtype=int32)

## Reshaping of Array & Transpose
### Chuyển đổi npArr sang shape khác

### Reshape()

In [ ]:
# tạo 1 array bằng random hoặc arrange
grida = np.random.randint(10, size = 9)
grida

gridb = np.arange(1, 10)
gridb

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
# str : x.reshape((mxn))
grida.reshape((3,3))
gridb.reshape((3,3))
gridb.shape

(9,)

### Tranpose()

In [ ]:
# Reshape chuyển thành hình dạng theo mong muốn
# Tranpose chuyển hàng thành cột và cột thành hàng
# str : a.T
a = np.array([[1,2,3],
              [4,5,6]])

a.T

array([[1, 4],
       [2, 5],
       [3, 6]])

## Array Concatenation and Splitting
### Nối và tách NumPyArray

In [ ]:
# str : concatenate( (a1, a2, ...), axis=0, out=None, dtype=None, casting="same_kind" )
# axis = 0 thì nối theo 1 hàng, =1 thì nối thêm thành 2 hàng
x = np.array([1,2,3])
y = np.array([4,5,6])

np.concatenate((x,y))

array([1, 2, 3, 4, 5, 6])

In [ ]:
#axis=0 → nối dọc (thêm hàng)
#axis=1 → nối ngang (thêm cột) ( chỉ áp dụng được cho mảng 2 chiều ) 
grid = np.array([[1,2,3],
               [4,5,6]])
np.concatenate((grid, grid)) # axis = 0 thì thêm hàng
np.concatenate((grid, grid), axis = 1)  # axis = 1 thì thêm cột

array([[1, 2, 3, 1, 2, 3],
       [4, 5, 6, 4, 5, 6]])

### vstack() tương tự như axis = 0
### hstack() tương tự như axis = 1

In [ ]:
# vstack()
m = np.array([7,8,9])
np.vstack((grid, m)) 
# hstack() 
n = np.array([[7],    
            [8]])
np.hstack((grid,n))

array([[1, 2, 3, 7],
       [4, 5, 6, 8]])

### Splitting Array

In [ ]:
# str : np.split(ary, indices_or_sections, axis = 0)
# ary : tên array muốn split
# indices_or_sections : khoảng [chi số] muốn cắt, nếu cắt khoảng giữa thì sẽ chia thành 3 array
# có thể gán cho số lượng biến tương tự sau khi cắt
x = np.random.randint(10,size = 8)
a,b,c = np.split(x, [2,6])
print("a la ", a,
     "\n b la " , b,
     "\nc la " , c)

a la  [3 0]
 b la  [0 3 5 6]
c la  [6 6]

### Ôn tập : Tạo mảng a có kích thước (4, 5) gồm các số nguyên ngẫu nhiên trong khoảng từ 5 đến 20. In ra mảng a. In ra phần tử ở hàng 2, cột 4. In ra 2 cột đầu tiên của mảng. In ra shape và dtype của a

In [ ]:
a = np.random.randint(5,20, size = (4,5))
a

a[2,4]

a[:, 2:]

array([[18, 13, 12],
       [ 9,  7, 16],
       [16, 17, 15],
       [15,  6, 14]], dtype=int32)

### Bài 2 — Dải số & phân phối chuẩn Tạo mảng b = np.linspace(0, 10, 5, endpoint=False, dtype=float) → In ra mảng b. Tạo mảng c = np.random.normal(loc=0, scale=1, size=(2,5)). In ra mảng c. In ra giá trị trung bình (mean) của từng hàng. Nối b (sau khi reshape thành (1,5)) và c theo chiều dọc.

In [ ]:
a = np.linspace(0,10,5, endpoint = False, dtype = float)
a
a.shape

(5,)

In [ ]:
b = np.random.normal(0,1, size = (2,5))
b.mean()

np.float64(0.16385739261876617)

In [ ]:
c = a.reshape(1,5)
z =np.concatenate((c, b))
z

array([[ 0.        ,  2.        ,  4.        ,  6.        ,  8.        ],
       [ 0.43451887,  0.33570374,  1.1529182 , -0.52776215,  0.44961348],
       [-1.11026192,  0.2996984 ,  1.03497523, -0.22804509, -0.20278483]])

### Bài 3 — Ghép và cắt mảng Tạo 2 mảng: x = np.random.randint(1, 10, (3,3)) y = np.random.randint(10, 20, (3,3)) Thực hiện: Nối x và y theo chiều dọc rồi in ra shape của kết quả. Nối x và y theo chiều ngang rồi in ra shape. Từ mảng x, in ra đường chéo chính (gợi ý: np.diag(x)).

In [ ]:
x = np.random.randint(1,10, size = (3,3))
y = np.random.randint(10,20, size = (3,3))

In [ ]:
x,y

(array([[5, 5, 5],
        [6, 9, 1],
        [8, 5, 8]], dtype=int32),
 array([[11, 12, 10],
        [10, 12, 19],
        [18, 18, 10]], dtype=int32))

In [ ]:
doc = np.concatenate((x,y) )
doc

array([[ 5,  5,  5],
       [ 6,  9,  1],
       [ 8,  5,  8],
       [11, 12, 10],
       [10, 12, 19],
       [18, 18, 10]], dtype=int32)

In [ ]:
ngang = np.concatenate((x,y), axis = 1)
ngang

array([[ 9,  3,  7, 13, 19, 14],
       [ 7,  1,  3, 15, 13, 10],
       [ 5,  3,  8, 15, 17, 10]], dtype=int32)

In [ ]:
np.diagonal(x)

array([5, 9, 8], dtype=int32)

### Broadcast and Vectorized

In [ ]:
### Broadcast sẽ tự động mở rộng kích thước của mảng nhỏ hơn để phù hợp với mảng lớn hơn khi thực hiện các phép toán giữa hai mảng có kích thước khác nhau.
a = np.array([1,2,3])

In [ ]:
a

array([1, 2, 3])

In [ ]:
a + 3

array([4, 5, 6])

In [ ]:
b = np.ones((3,3))
b

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [ ]:
a + b

array([[2., 3., 4.],
       [2., 3., 4.],
       [2., 3., 4.]])

In [ ]:
a * b

array([[1., 2., 3.],
       [1., 2., 3.],
       [1., 2., 3.]])

### Manipulating & Comparing Arrays

### Aggragation : phép toán trong array

In [ ]:
list = [1,2,3]

In [ ]:
list_array = np.array(list)

In [ ]:
list_array

array([1, 2, 3])

In [ ]:
# hàm tổng sum : tính tổng các element trong array
np.sum(list_array)

np.int64(6)

In [ ]:
# Tạo array có khối lượng lớn
large_array = np.random.random(1000000)

In [ ]:
large_array[:5]

array([0.60655662, 0.07176766, 0.48421901, 0.36637148, 0.36280639])

In [ ]:
large_array.size

1000000

In [ ]:
%timeit sum(large_array)

%timeit np.sum(large_array)

# dùng np.sum() sẽ nhanh hơn rất nhiều so với sum() của python

54.6 ms ± 5.95 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)
886 μs ± 137 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [ ]:
np.mean(large_array)

np.float64(0.49966281450847966)

In [ ]:
np.min(large_array)

NameError: name 'large_array' is not defined

## Standard và Deviation : Độ lệnh chuẩn và phương sai

### Rất quan trọng trong việc xác xuất thống kê, phân tích dữ liệu

In [ ]:
# Ví dụ về bài toán độ lệnh chuẩn và phương sai
## Standard và Deviation : Độ lệnh chuẩn và phương sai
# Các con chó có chiều cao khác nhau, ta muốn biết chiều cao trung bình và độ lệnh chuẩn của chúng

In [ ]:
# Chiều cao lần lượt của các con chó
dog_heights = [600,470,170,430,300]
# gán thành numpy array
dog_heights = np.array(dog_heights)

In [ ]:
# tính độ lệnh chuẩn 
# str : np.std(a, axis=None, dtype=None, out=None, ddof=0, keepdims=<no value>)
np.std(dog_heights) # 147

np.float64(147.32277488562318)

In [ ]:
# tính phương sai 
# str : np.var(a, axis=None, dtype=None, out=None, ddof=0, keepdims=<no value>)
np.var(dog_heights) 

# ngoài ra có thể tính độ lệnh chuẩn bằng các sqrt của phương sai
np.sqrt(np.var(dog_heights)) # 147

np.float64(147.32277488562318)

In [ ]:
dog_heights.mean()
dog_heights.max()
dog_heights.min()

np.int64(170)

## Sorting Arrays
### np.sort use quicksort  algorithm

In [ ]:
# dùng np.sort() để sắp xếp mảng mặc định theo thứ tự tăng dần
a = np.array([3,6,1,8,4,5,2,7])
np.sort(a)

array([1, 2, 3, 4, 5, 6, 7, 8])

In [ ]:
# np.argsort() trả về chỉ số của mảng sau khi được sắp xếp
np.argsort(a)

array([2, 6, 0, 4, 5, 1, 7, 3])

### Sort along row and col
#### Sắp xếp mảng đa chiều theo hàng và cột

In [ ]:
np.random.seed(42)
MatA = np.random.randint(0, 10, (4,6))

In [ ]:
MatA

array([[6, 3, 7, 4, 6, 9],
       [2, 6, 7, 4, 3, 7],
       [7, 2, 5, 4, 1, 7],
       [5, 1, 4, 0, 9, 5]], dtype=int32)

In [ ]:
np.sort(MatA, axis=0) # sắp xếp theo cột

array([[2, 1, 4, 0, 1, 5],
       [5, 2, 5, 4, 3, 7],
       [6, 3, 7, 4, 6, 7],
       [7, 6, 7, 4, 9, 9]], dtype=int32)

In [ ]:
np.sort(MatA, axis = 1)

array([[3, 4, 6, 6, 7, 9],
       [2, 3, 4, 6, 7, 7],
       [1, 2, 4, 5, 7, 7],
       [0, 1, 4, 5, 5, 9]], dtype=int32)

## Linear Algebra : ĐẠI SỐ TUYẾN TÍNH

In [ ]:
A = np.array([[1,2,3],
              [4,5,6],
              [7,8,9]])

In [ ]:
B = np.array([[1,2],
              [4,5],
              [7,8]])

In [ ]:
# Đã có A size 3x3, B size 3x2
# Tính tích vô hướng của 2 ma trận ( lấy hàng a1 x b1 =  1 element[a1,b1])
# Str : A.dot(B)
A.dot(B)

# Có thể thay .dot bằng @
A @ B

array([[ 30,  36],
       [ 66,  81],
       [102, 126]])

In [ ]:
# B @ A sẽ lỗi, vì số cột ma trận 1 bằng số hàng ma trận 2
#  thì phép vô tích mới thực hiện được
# Vậy nếu muốn B @ A thì phải Transpose B
B.T @ A

array([[ 66,  78,  90],
       [ 78,  93, 108]])

### Dot example

In [4]:
# yêu cầu : dùng numpy tạo ra 1 ma trận ( tượng trưng cho số lượng hàng hóa được bán)
# dùng pandas để gán cái ma trận đó vào các index để tạo thành bảng số liệu
# B1
np.random.seed(0)
matrix_array = np.random.randint(20, size=(5,3))

In [5]:
matrix_array

array([[12, 15,  0],
       [ 3,  3,  7],
       [ 9, 19, 18],
       [ 4,  6, 12],
       [ 1,  6,  7]], dtype=int32)

In [6]:
# B2 : dùng pandas tạo dataframe doanh số từng sản phẩm theo ngày
import pandas as pd

In [7]:
# Tạo 1 df để sale_amounts thể hiện số lượng bán 3 sản phẩm theo các thứ ngày
sale_amounts = pd.DataFrame(matrix_array, index=["Mon","Tues", "Wed", "Thurs", "Fri"], columns=["Almond Butter", "Peanut Butter", "Cashew Butter"] )

In [8]:
sale_amounts

       Almond Butter  Peanut Butter  Cashew Butter
Mon               12             15              0
Tues               3              3              7
Wed                9             19             18
Thurs              4              6             12
Fri                1              6              7

In [9]:
# B3 gán giá của 3 món hàng thành 1 df riêng để quản lý

# tao array gom gia 3 loai sp
price = np.array([10,8,12])
price.shape

# gán giá vào trong df để tạo df về giá từng sản phẩm
# cần 1 hàng là giá và 3 cột là giá của các sp
# Lưu ý phải reshape price lại vì hiện là size (3,) mà các sp là size (1,3)
butter_price = pd.DataFrame(price.reshape((1,3)), index=["Price"], columns=["Almond Butter", "Peanut Butter", "Cashew Butter"])

In [10]:
butter_price

       Almond Butter  Peanut Butter  Cashew Butter
Price             10              8             12

In [11]:
# yêu cầu : tính giá trị hàng hóa được bán ra trong 1 ngày
# tổng giá trị tất cả các hàng hóa đó chứ k phải riêng lẽ, dùng .dot

# đầu tiên phải kiểm tra shape trước khi tích vô hướng, k tích được phải Transpose
sale_amounts.shape, butter_price.shape

((5, 3), (1, 3))

In [12]:
# Transpose Butter_price để tích vô hướng được với sale_amounts
total_sale = sale_amounts @ butter_price.T

In [13]:
total_sale

       Price
Mon      240
Tues     138
Wed      458
Thurs    232
Fri      142

In [14]:
# Thêm 1 cột mới vào, dùng dữ liệu total_sale đổ vô
sale_amounts["Total Price"] = total_sale
sale_amounts

       Almond Butter  Peanut Butter  Cashew Butter  Total Price
Mon               12             15              0          240
Tues               3              3              7          138
Wed                9             19             18          458
Thurs              4              6             12          232
Fri                1              6              7          142